/* GENERELT*/
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
  padding: 2%;
}

body {
  min-height: 100vh;
  background-image: url(fotos/test.svg);
  background-size: cover;
  line-height: 170%;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

a:hover {
  font-weight: 900;
}

a.current {
  font-weight: 900;
}

header {
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 12px 50px 0 #040404e1;
}
header .logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  width: 6%;
  display: inline-block;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  overflow-x: auto;
  gap: 80px;
  margin-bottom: 0.5rem;
}

footer {
  padding-block: 1rem;
  color: white;
  position: sticky;
  top: 100vh;
  background-color: black;
  margin-top: 40px;
}

footer p {
  text-align: center;
  max-width: none;
  font-family: "Cardo", serif;
  font-size: 0.7rem;
}

p {
  font-size: 18px;
  font-family: "Cardo", serif;
  color: white;
  line-height: 180%;
}
h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-transform: uppercase;
}
h2 {
  margin-top: 30px;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
}

/* burgermenu */

.toggle-btn {
  background: transparent;
  border: none;
  font-size: 80%;
  font-weight: 500;
  color: #edeeec;
  font-family: "Cardo", serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;

  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
    text-align: right;
  }

  .main-menu .nav-links {
    display: none;
  }

  .main-menu.shown .nav-links {
    border-top: 1.5px solid #e2e5dd;
    margin-top: 5%;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

/* FORSIDE*/

/* OM MIG SIDE*/
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
  background-color: black;
  border: black solid 36px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  margin-top: 30px;
}

.selvportraet {
  width: 200px;
  height: 95px;
}

.selvportraet img {
  margin-left: 95px;
  margin-top: 10px;
}

.col1 {
  background-color: black;
  border: solid 100px black;
}

.col1 h3 {
  color: white;
}
.col1 li {
  color: white;
}

.col2 {
  background-color: white;
  border: solid 95px white;
}

.grid_1-1 li {
  margin-left: 3%;
  line-height: 170%;
  font-family: "Cardo", serif;
}

.grid_1-1 a {
  font-family: "Cardo", serif;
}

.border {
  background-color: white;
  border: solid 30px white;
}

/* TEMA 2 SIDE*/

.t21 {
  max-width: 65ch;
  margin-right: 20px;
  background-color: white;
  border: solid 50px white;
}
.t21 p {
  color: black;
}

.t22 {
  max-width: 65ch;
  margin-right: 20px;
  background-color: black;
  border: solid 50px black;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
}

.knapweb {
  text-align: center;
  margin-bottom: 20px;
}

button {
  border: 10px solid black;
  background-color: white;
  margin-top: 20px;
  font-size: 150%;
  padding: 3%;
  cursor: pointer;
}

.knapweb a:hover {
  font-weight: 900;
  transition: all 0.3s ease 0s;
}

.web2 img {
  width: 92%;
  border: solid black 80px;
}

video {
  width: 94%;
  height: auto;
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}
.t23 {
  margin-top: 120px;
  max-width: 40ch;
}

.t23 p {
  color: black;
}

/* TEMA 3 SIDE*/

.box {
  border: 40px solid black;
  background-color: black;
}

.grid_1-1 img {
  border: solid black 30px;
}

.border1 {
  background-color: white;
  border: solid 50px white;
}

.box h3 {
  color: white;
}

.grid_3 p {
  font-style: italic;
}
.grid_3a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
}

/* TEMA 4 SIDE*/
.video1 {
  margin-top: 30px;
  border: solid 70px black;
  margin-bottom: 80px;
}

.hp {
  width: 55%;
  margin-left: 50px;
}

/* TEMA 5 SIDE*/

.box1 {
  border: 40px solid white;
  background-color: white;
}
.box1 p {
  color: black;
}

.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
}

.grid_3 img {
  border: solid black 30px;
}

.grid_3 button {
  margin-top: 140px;
  border: 20px solid black;
}
