/* GENERELT*/
* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  background-image: url(fotos/baggrund.svg);
  background-size: cover;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a:hover {
  font-weight: 900;
}

a.current {
  font-weight: 900;
}

header {
  position: sticky;
  top: 0;
  gap: 20px;
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 12px 50px 0 #040404e1;
}
header .logo {
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  width: 6%;
  display: inline-block;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  overflow-x: auto;
  gap: 80px;
  margin-bottom: 0.5rem;
}

footer {
  padding-block: 0.5rem;
  position: sticky;
  top: 100vh;
  margin-top: 40px;
}

footer p {
  text-align: center;
  max-width: none;
  font-family: "Cardo", serif;
  font-size: 0.7rem;
}

p {
  font-size: 18px;
  font-family: "Cardo", serif;
  color: white;
  line-height: 180%;
}
h1 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  text-transform: uppercase;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
}

/* burgermenu */

.toggle-btn {
  background: transparent;
  border: none;
  font-size: 80%;
  font-weight: 500;
  color: #edeeec;
  font-family: "Cardo", serif;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 3px;

  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }

  .main-menu {
    display: contents;
    text-align: right;
  }

  .main-menu .nav-links {
    display: none;
  }

  .main-menu.shown .nav-links {
    border-top: 1.5px solid #e2e5dd;
    margin-top: 5%;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }
}

/* FORSIDE*/

/* OM MIG SIDE*/
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
  background-color: black;
  border: black solid 36px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  margin-top: 30px;
}

.selvportraet {
  width: 200px;
  height: 95px;
}

.selvportraet img {
  margin-left: 90px;
}

.col1 {
  background-color: black;
  border: solid 100px black;
}

.col1 h3 {
  color: white;
}
.col1 li {
  color: white;
}

.col2 {
  background-color: white;
  border: solid 95px white;
}

.grid_1-1 li {
  margin-left: 3%;
  line-height: 170%;
  font-family: "Cardo", serif;
}

.grid_1-1 a {
  font-family: "Cardo", serif;
}

.border {
  background-color: white;
  border: solid 33.5px white;
}

/* TEMA 2 SIDE*/

.t2 {
  max-width: 65ch;
  margin-right: 20px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 50px;
}

.op {
  font-size: 5rem;
  text-shadow: 3px 3px rgb(176, 24, 246);
}

/* TEMA 3 SIDE*/

.container {
  position: relative;
}
.container img {
  width: 50%;
}
.proto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* TEMA 4 SIDE*/
/* TEMA 5 SIDE*/
